
@{
    ViewBag.Title = "Contacts";
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <link rel="stylesheet" href="~/Content/BorderStyle.css" />
    <style>
        div.contatcs {
            text-align: center;
            width: 60%;
            margin: inherit;
        }
        body {
            background: url('../../Content/images/testimonial_bg.jpg') no-repeat;
            margin: 0;
            background-size: 100%;
            height:100%;
        }

    </style>
</head>
<body>
    <section id="about">
        <div class="container about_bg">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="about_content">
                            <ul class="border">
                                <li><b>ПОЧТОВЫЙ/ФАКТИЧЕСКИЙ АДРЕС:</b> 410005, г. Саратов, ул. Рахова 195/197</li>

                                <li><b>ЮРИДИЧЕСКИЙ АДРЕС:</b> 410052, г. Саратов, ул.Шехурдина, д.39</li>

                                <li><b>E-mail:</b> monte-avo@mail.ru</li>
                                <li><b> Телефон:</b> +7 (8452) 29-22-53</li>

                                <li><b>НАЧАЛЬНИК ПТО:</b>Сергазиева Тамилла Рамизовна, e-mail: monte-avo.pto@mail.ru +7 (8452) 29-22-53 добавочный 120</li>

                                <li><b>ЮРИДИЧЕСКИЙ ОТДЕЛ:</b>Газибекова Муза, e-mail: monte-avo.ur@mail.ru +7 (8452) 29-22-53</li>

                                <li><b>ОТДЕЛ РАЗВИТИЯ:</b>Сайфетдинова Гульфия Идиаловна, e-mail: monte-avo@mail.ru +7 (8452) 29-22-53 добавочный 132</li>

                                <li><b>ГЛАВНЫЙ БУХГАЛТЕР:</b>Бенюх Татьяна Александровна, e-mail: monte-avo.buh@mail.ru +7 (8452) 29-22-53 добавочный 108</li>

                                <li><b>ОТДЕЛ СНАБЖЕНИЯ:</b>Волынщикова Елена Олеговна, e-mail: monte-avo.snab@bk.ru +7 (8452) 29-22-53</li>

                                <li><b>ГЛАВНЫЙ ЭКОНОМИСТ:</b>Горбатова Марина Викторовна, e-mail: monte-avo.buh@mail.ru +7 (8452) 29-22-53 добавочный 113</li>

                                <li><b>АУКЦИОННЫЙ ОТДЕЛ:</b>Хачатрян Кристина, e-mail: monte-avo@mail.ru +7 (8452) 29-22-53 добавочный 116</li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
        </section>
</body>
</html>