
@{
    ViewBag.Title = "Materials";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/fonts/custom-font/fonts.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- Bootsnav -->
    <link rel="stylesheet" href="~/Content/bootsnav.css">
    <!-- Fancybox -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css?v=2.1.5" media="screen" />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="~/Content/custom.css" />
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .about {
            margin: auto;
            width: 70%;
            background-color: goldenrod;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="about">
        <br />
        <h3>Профнастил Н20-1060</h3>
        <hr />
        <img src="~/Content/images/prof1.png" alt="Portfolio1">
        <span>
            Применяется для кровельных покрытий небольших строений или как материал для стеновых ограждений при реконструкции и утеплении различных промышленных и гражданских зданий. Такой профнастил обычно относят к категории стеновых или кровельных.
            Профлист Н-20 также используют для монтажа подвесных потолков. Очень популярны в последнее время заборы из профнастила. Этот материал сравнительно недорог, легок и долговечен. Благодаря достаточно высокой жесткости, профлист Н20 легко противостоит самым сильным ветрам, а забор из него легко смонтировать даже без привлечения специалистов.
        </span>
    </div>
    <div class="about">
        <br />
        <h3>Профнастил С-21-1000 </h3>
        <hr />
        <img src="~/Content/images/prof2.png" alt="Portfolio1">
        <span>
            Профнастил С21-1000 — один из наиболее универсальных профилей, широко используемый в современном строительстве. Высота трапеции в 21 мм обеспечивает достаточно высокую несущую способность. Поэтому профнастил оцинкованный С21 одинаково успешно применяется как в конструкциях, подверженных значительным ветровым нагрузкам, так и в качестве кровельных покрытий при любых углах наклона кровли.
            Профнастил С21 — это одна из самых популярных марок профилированного листа. Он используется повсеместно в строительстве.

        </span>
    </div>

    <div class="about">
        <br />
        <h3>НС35-1000 </h3>
        <hr />
        <img src="~/Content/images/prof3.png" alt="Portfolio1">
        <span>
            Профлист НС-35 относится к группе несущих листовых профилей. Изготавливают его по ГОСТ 24045-94 и ТУ 1122-079-02494680-01 из холоднокатаной оцинкованной стали марок 01 или 220 по ГОСТ Р 52246-2004.
            Профнастил оцинкованный НС35 широко применяется как в промышленном, так и в гражданском строительстве. Этот профиль отличается очень удачным сочетанием высокой несущей способности со сравнительно небольшим весом и невысокой стоимостью.
            Перечисленные достоинства позволяют успешно применять профнастил НС-35х1000 для решения самых сложных задач. Этот профиль вполне обоснованно можно отнести к наиболее универсальным. Да и сама марка — НС35 говорит именно о том, что этот профлист может использоваться и как кровельный, и как стеновой.
        </span>
    </div>

    <div class="about">
        <br />
        <h3>Профнастил С44  </h3>
        <hr />
        <img src="~/Content/images/prof3.png" alt="Portfolio1">
        <span>
            Помимо высокой прочности и способности выдерживать значительные нагрузки, профнастил обладает еще целым рядом существенных достоинств. Он очень легок — так вес профнастила С44 позволяет легко монтировать его на любой высоте без использования дорогостоящих механизмов большой грузоподъемности. И, самое главное, метаморфоза, произошедшая с рулонной листовой оцинкованной сталью заготовки не требует больших затрат и сложного дорогостоящего оборудования.
            Профнастил выпускается трех основных видов — это стеновой (маркируется буквой С), несущий для монтажа перекрытий и несъемной опалубки (маркируется буквой Н) и профнастил, несущая способность которого позволяет использовать его как для монтажа покрытий, так и для устройства стеновых ограждений (маркируется НС). Некоторые производители выпускают профнастил, предназначенный, в основном, для использования в качестве кровельного покрытия и маркируют его буквой
        </span>
    </div>
