
@{
    ViewBag.Title = "Portfolio";
}


<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width">
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/fonts/custom-font/fonts.css" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css" />
    <!-- Bootsnav -->
    <link rel="stylesheet" href="~/Content/bootsnav.css">
    <!-- Fancybox -->
    <link rel="stylesheet" type="text/css" href="~/Content/jquery.fancybox.css?v=2.1.5" media="screen" />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="~/Content/custom.css" />
    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <style>
        .about {
            margin: auto;
            width: 70%;
            background-color: goldenrod;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="about">
        <br />
        <h3>Соединение фронтов</h3>
        <hr />
        <img src="~/Content/images/Portfolio1(1).jpg" alt="Portfolio1">
        <p>Ремонтные работы в отношении памятников культурного наследия федерального значения "Соединение Юго-Западного и Сталинградского фронтов</p>
    </div>

    <div class="about">
        <br />
        <h3>Вокзал г.Волгоград</h3>
        <hr />
        <img src="~/Content/images/Portfolio3(3).jpg" alt="Portfolio3">
        <p>
            В 2013 году накануне Нового года, когда произошел террористический акт на вокзале в городе Волгоград,
            ГК "Монте-АВО" оперативно среагировала и приступила к реконструкции разрушенного вокзала,
            и не покидала объект культурного назначения вплоть до полного восстановления и открытия ко Дню Победы.
        </p>
    </div>

    <div class="about">
        <br />
        <h3>Детский сайт на 140 мест</h3>
        <hr />
        <img src="~/Content/images/Portfolio2(2).jpg" alt="Portfolio2">
        <p>Строительство объекта «Детский Сад на 140 мест в п. Новостройка Палласовского муниципального района, Волгоградская обл». </p>
        <p> Заказчик: Администрация Палласовского района Волгоградской Области. </p>
        <p> Срок сдачи 15 декабря 2014 </p>
    </div>

    <div class="about">
        <br />
        <h3>Детский сайт на 100 мест</h3>
        <hr />
        <img src="~/Content/images/Portfolio4(4).jpg" alt="Portfolio4">
        <p>Детский сад на 100 мест в пос. Отрадное Михайловского р-на Волгоградской обл</p>
    </div>

    <div class="about">
        <br />
        <h3>Вокзал г. Уфа</h3>
        <hr />
        <img src="~/Content/images/Portfolio5(5).jpg" alt="Portfolio5">
        <p>
            Летом 2015 года в столице Башкирии - городе Уфа проходили саммиты ШОС и БРИКС, когда международные форумы заложили основы для новой системы управления миром.
            Группа компаний "Монте-АВО" отвественно взяла на себя реконстркуцию вокзального комплекса с переустановкой всех инженерхных систем и
            конструктивных решений архитектурного облика транспортно-пересадчного узла, ибо как театр начинается с вешалки, так и впечатление о гроде складывается с вокзала.
        </p>
    </div>

    <div class="about">
        <br />
        <h3>Детский сад на 260 мест</h3>
        <hr />
        <img src="~/Content/images/Portfolio6(6).jpg" alt="Portfolio6">
        <p>
            Строительство ДОУ детский сад "РОСТОК" на 260 мест с плавательным бассейном в г.Пугачев Саратовской области
        </p>
    </div>

    <div class="about">
        <br />
        <h3>Бассейн с. Неверкино</h3>
        <hr />
        <img src="~/Content/images/Portfolio7(7).jpg" alt="Portfolio7">
        <p>
            Строительство плавательного бассейна в с.Неверкино Пензенской области
        </p>
    </div>

    <div class="about">
        <br />
        <h3>Вокзал г. Саратов</h3>
        <hr />
        <img src="~/Content/images/Portfolio8(8).jpg" alt="Portfolio8">
    </div>

</body>
</html>

