
@{
    ViewBag.Title = "ViewEmail";
}

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Index</title>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/Content/Site.css">   
    <style>
    </style>
</head>
<body>
    <form action="" class="ui-form">
        <h3>Отправить на почту рузультат?</h3>
        <div class="form-row">
            <input type="text" id="email" required autocomplete="off"><label for="email">Email</label>
        </div>
        <div class="form-row">
        </div>
        <p><input type="submit" value="Отправить"></p>
    </form>
    </body>
</html>